<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Campaign Dashboard</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/all.min.css" rel="stylesheet">
    <link href="/static/css/dark-mode.css" rel="stylesheet">
    <link href="/static/css/material-design.css" rel="stylesheet">
</head>
<body class="dark-mode">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Email Campaign</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}"><i class="material-icons">dashboard</i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'campaign_list' %}"><i class="material-icons">email</i> Campaigns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'subscriber_list' %}"><i class="material-icons">people</i> Subscribers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'smtp_list' %}"><i class="material-icons">settings</i> SMTP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <script src="/static/js/jquery-3.7.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/custom.js"></script>
</body>
</html>
